* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
  }
  
  a {
    text-decoration: none;
    margin:20px;
  }
  
  h1 {
    padding-top:40px;
    text-align: center;
    margin:auto;
  }

  h2{
    margin:30px;
  }
